.new-tweet {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

textarea {
  border: unset;
  background: inherit;
  border-bottom: 2px solid black;
  height: 80px;
  overflow: hidden;
  resize: none;
  outline: none;
}

button {
    background-color: #007ede;
    color: rgb(255, 255, 255);
    border: 2px solid #6594ea; /* Green */
    font-family: 'Bungee', cursive;
}

.counter {
  font-family: 'Bungee', cursive;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.handle {
  color: darkgrey;
  float: right;
}

hr {
  border: 3px solid #545149;
  margin-top: 1.5em;
}

.tweet-container {
  margin-top: 30px;
  border: 3px solid;
  border-color: red;
  padding: 1em;
  line-break: auto;
  overflow: auto;
  overflow-wrap: break-word;
}

.tweet-container:hover {
  box-shadow: 0 0 4px black;
}

.text {
  overflow: auto;
}

.symbol {
  display: flex;
  justify-content: flex-end;
}

.symbol > .fa-solid {
  margin: 5px;
}

.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color: darkorange;
}

.error1, .error2 {
  display: none;
  color: red;
}

.name {
  vertical-align: top;
}

footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

/* breakpoint for tablets min 768px and max 1024 */
@media only screen and (min-width: 768px) {
  .header-body {
    display: flex;
    flex-direction: row;
  }
  .image-name {
    margin-top: 5%;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .overlay {
    background-color: #007ede;
    background-image: unset; 
    margin: unset;
  }
}