.new-tweet {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

textarea {
  border: unset;
  background: inherit;
  border-bottom: 2px solid black;
  height: 80px;
  overflow: hidden;
  resize: none;
  outline: none;
}

button {
    background-color: #007ede;
    color: rgb(255, 255, 255);
    border: 2px solid #6594ea; /* Green */
    font-family: 'Bungee', cursive;
}

.counter {
  font-family: 'Bungee', cursive;
}

.button-counter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.handle {
  color: darkgrey;
  float: right;
}

hr {
  border: 3px solid #545149;
  margin-top: 1.5em;
}

.tweet-container {
  margin-top: 30px;
  border: 3px solid;
  padding: 1em;
}

.symbol {
  display: flex;
  justify-content: flex-end;
}

.symbol > .fa-solid {
  margin: 5px;
}

.fa-flag:hover {
  color: darkorange;
}

.fa-retweet:hover {
  color: darkorange;
}

.fa-heart:hover {
  color: darkorange;
}

.error {
  display: none;
  color: red;
}

.name {
  vertical-align: top;
}